.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  font-size: 1.2rem;
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
}

.event {
  background-color: #444;
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: left;
}

.event h3 {
  margin-top: 0;
}